@{
    ViewData["Title"] = "Home Page";
}

<div class="correo">
     

        <div class="col-lg-6 col-lg-offset-3">
        <!--Clases de bootstrap-->

            <label>Asunto <input type="text" placeholder="Asunto" name="asunto" /></label>
        <!--El name van a ser los parametros que se van a usar en el

          contorlador para ejecutar las acciones-->
            <label> Contenido <input type="text" placeholder="Contenido" name="contenido" /></label>

            <label> Remitente <input type="text" placeholder="Remitente" name="remitente" /></label>

            <label> Destinatario <input type="text" placeholder="Destinatario" name="destinatario" /></label>

            <input class="btn btn-success" type="submit" value="Enviar" />
            <input class="btn btn-success" type="button" value="Bandeja de entrada" />
            <input class="btn btn-success" type="button" value="Bandeja de salida" />


        </div>

</div>


