@{
    ViewData["Title"] = "Access";
}

<div class="formulario">

    <form id="form">

    <div class="col-lg-6 col-lg-offset-3">
        <!--Clases de bootstrap-->

        <label>Usuario <input type="text" placeholder="Usuario" name="user" /></label>
        <!--El name van a ser los parametros que se van a usar en el

          contorlador para ejecutar las acciones-->
        <label>Contraseña <input type="password" placeholder="Contraseña" name="password" /></label>


            <input class="btn btn-success" type="submit" value="Iniciar" />
            
    </div>

    </form>
</div>

@{
    var a = 1;
}

@section Scripts{
    <script>
        //Uso de js para poder cargar los datos que ingresan en los text para evaluarlos y enviarlos a su mail correspondiente

        $(document).ready(function() {

            $("#form"),submit(function (e) {

                e.preventDefault(); //Previene un submit automático y no solo lo envía, tambien lo evalua

                url = (@Url.Content("~/Mail/Enviar"))//url que accede al metodo del controlador para evaluar los datos Mail=controlador Enviar= método
                parametros = $(this).serialize();

                $.post(url, parametros, function (data)){

                    if (valor == 1) {

                        document.location.href = "@Url.Content("~/")";
                    } else {
                        alert(data)
                    }
                }

            })


        })


    </script>

}